config RT_USING_LCD
    bool
    default n

menuconfig RT_USING_VIDEO
    bool "Using Video Graphics device drivers"
    default n

if RT_USING_VIDEO
source "$RTT_DIR/components/drivers/video/backlight/Kconfig"
source "$RTT_DIR/components/drivers/video/framebuffer/Kconfig"
source "$RTT_DIR/components/drivers/video/logo/Kconfig"
endif
